/* Base styles for the links */
.navbar ul li {
  position: relative;
}
.navbar ul li a {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older IE versions */

}

.navbar ul li a {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  color: white;  /* Default color */
  
}

/* Hover effect: underline */
.navbar ul li a:hover {
  cursor: pointer;
}

.navbar ul li a:hover::after {
  width: 100%;
}

/* Active effect: underline and text color */
.navbar ul li a.active {
  color: #28E98C;  /* Change text color to #28E98C when active */
}

.navbar ul li a.active::after {
  width: 100%;
}
